#sdmcd-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999997;
    cursor: crosshair;
}

.sdmcd-hidden #sdmcd-canvas {
    display: none;
}

.sdmcd-unfocused #sdmcd-canvas {
    pointer-events: none;
}

#sdmcd-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: #fff;
    font-family: Helvetica, sans-serif;
}

#sdmcd-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#sdmcd-popup-content.sdmcd-horizontal {
    flex-direction: row;
}

.sdmcd-help-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35em;
}

.sdmcd-help-line {
    font-size: 1.5em;
    height: 1.6em;
    margin: 0;
    color: #fff;
}

#sdmcd-color-content {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}

#sdmcd-color {
    width: 20em;
    height: 20em;
    border-radius: 1em;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    pointer-events: auto;
}

#sdmcd-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#sdmcd-color::-webkit-color-swatch {
    border: none;
    border-radius: .5em;
}

#sdmcd-brush-outline {
    position: fixed;
    border-radius: 50%;
    border: 1px solid #888;
    pointer-events: none;
    z-index: 9999998;
}

#sdmcd-brush-outline.sdmcd-fading {
    opacity: 0;
    transition: opacity 0.5s;
}

.sdmcd-text-input {
    position: fixed;
    z-index: 9999998;
    outline: none;
    /* force render even with no text */
    border-right: solid rgba(0, 0, 0, 0) 1px;
    /* normalize font */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.sdmcd-text-input.removed {
    display: none;
}

.sdmcd-hidden .sdmcd-text-input {
    display: none;
}

.sdmcd-unfocused .sdmcd-text-input {
    pointer-events: none;
}